@model OpenTable.bus.Entities.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Html.ActionLink("Make Reservation", "Create", "Reservation", new{user_id = Model.Id}, null)
<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>

<h3>Restaurants</h3>
<ul>
    @foreach (var restaurant in Model.Restaurants)
    {
        <li>@restaurant.Name</li>
    }
</ul>

<h3>Reservations</h3>
<ul>
    @foreach (var reservation in Model.Reservations)
    {
        <li>@reservation.Id @reservation.Restaurant.Name</li>
    }
</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
